# Dependencies
node_modules/
**/node_modules/

# Environment
.env
**/.env
.env.local
.env.*

# Build
dist/
build/

# Logs
*.log

# Uploads (opsional, jika tidak ingin upload file ikut)
server/uploads/

# OS
.DS_Store
Thumbs.db